# =============== #

# Unity generated #

# =============== #

Temp/

Obj/

UnityGenerated/

Library/



# ===================================== #

# Visual Studio / MonoDevelop generated #

# ===================================== #

ExportedObj/

*.svd

*.userprefs

*.csproj

*.pidb

*.suo

*.sln

*.user

*.unityproj

*.booproj



# ============ #

# OS generated #

# ============ #

.DS_Store

.DS_Store?

._*

.Spotlight-V100

.Trashes

Icon?

ehthumbs.db

Thumbs.db


# ============ #

# Add Ignore format!! 

# ============ #

*.log

*.tlog

*.exe

HSLD/.vs

Server/Server/Debug/

Server/Server/x64/Debug/

*.ipch

*.pdb

*.apk

*.db

*.pch

*.idb

*.ilk

Server/.vs